<div class="jumbotron m-0" style="background-image: url('https://images.unsplash.com/photo-1568995430555-091fd9226ed3'); background-size: 100%;">
  <div class="container ">
    <h1 class="display-3">The Kitty Project</h1>

    <hr class="my-4">
    <br>
    <p>Trouve les plus belles photos de chats</p>

  </div>
</div>
