<div class="jumbotron">
  <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2>Meilleurs prix</h2>
            <p>La plateforme "The Kitty Project" ne prend aucune commission sur les photos. Ce sont nos photographes qui fixent leur prix. </p>
          </div>
          <div class="col-md-4">
            <h2>Livraison sécurisée</h2>
            <p>Les colis vous sont livrés dans un emballage protecteur. Vos photos vous parviennent en parfait état et si vous constatez le moindre problème, vous êtes remboursé immédiatement. </p>
          </div>
          <div class="col-md-4">
            <h2>Photos de qualité</h2>
            <p>Les photos de notre catalogue ont toutes été réalisées par des photographes professionnels. Pour la plupart, il s'agit de tirages limités.</p>
          </div>
        </div>
</div>
